 <h4>Purchases made during activity "<span class='actlabel'>Alle Activiteiten</span>"</h4>

  {% for id,credit in credits.items %}
    <label>{{credit.desc}}:                                             </label> 
    <span class='smallcomp' id="{{id|lower}}count">  {{credit.number}}  </span>
    <span class="smallfield">+</span>
    <input class="valuefield smallfield credit" type="text" min='0' name="{{id|lower}}value" disabled="true"  id="{{id}}"    value="0" />  
    <img class='hidden changedalert' src='{{STATIC_URL}}/exclaim.png'/>
  {% endfor %}
  <hr/>
  {% for id,product in products.items %}
    <label>{{product.desc}}:             </label> 
    <span class='smallcomp' id="{{id|lower}}count">  {{product.number}}      </span>
    <span  class='smallfield'>+</span>
    <input class='valuefield smallfield product' type="text" min='0' name="{{id|lower}}value" disabled="true"  id="{{id}}"    value="0" /> 
    <img class='hidden changedalert' src='{{STATIC_URL}}/exclaim.png'/> 
  {% endfor %}
  <hr />
