<p>Please note: inventory is in Credits, not products. If there are six bags of crisps, and one credit buys two bags of crisps, the value below should be three.</p>

<span class='rightlabel alignright'>Inventory in K.A.S.T.:</span>
<span class='smallfield alignright'> &#x21b4;     </span>
<span  class='smallcomp alignright'>Change to:</span>
<span class='smallfield alignright'> &#x21b4;     </span>
<img class='hidden changedalert' src='{{STATIC_URL}}/exclaim.png'/> 

{% for prod,num in products.items %}
<div>
    <label id="{{prod|lower}}_description">{{num.desc}}:</label>
    <span class='smallfield alignright' id="{{prod|lower}}_inventory">  {{num.val}}      </span>
    <span  class='numchanged smallcomp aligncenter'>&rArr;</span>
    <input class='valuefield smallfield alignright product' type="text" min='0' name="{{prod|lower}}_balance" id="{{prod|lower}}_balance"    value="{{num.val}}" /> 
    <img class='hidden changedalert' src='{{STATIC_URL}}cross.png'/> 
    <input class='hidden' id="{{prod|lower}}_original" value="{{num.val}}" />
</div>
{% endfor %}

<hr/>

<p>Description:</p>
<input type='text' id='inventory_balance_note' />

<p>Make sure your balance is correct at the moment you click. Make sure noone has bought anything since the balance was made, as this will introduce an incorrect gain in inventory.</p>
<button id="commit_balance" class="fullwidebutton">Change (creates a new 'Balance' entry)</button>