<p>Large amounts of purchases will slow down the system. Below a balance-by-balance overview of the database can be found, export older purchases to speed up the system.</p>

<p>Note that exporting the purchases will merge them in the database, reducing the amount of purchases, but removing info from the system. After exporting, the csv-file is the only place the non-merged data can be found. Counts falling partially inside a merged set will be accurate to the resolution of a merged set.</p>

<p>For example, if the month April of this year has been merged, K.A.S.T. can not accurately tell you the amount of purchases between April 5th and April 13th (it will come up as 0).</p>


<h3>WARNING:</h3>
<p>While the exported files are saved on the server, no guarantee is given with regards to retention. Make sure exported files are downloaded and saved.</p>

<hr />

<p>Loading the export interface takes some time, click below to load</p>
<button id='loadexportcontent'>(Re)load Export Dialog</button>

<script type='text/javascript'>
   export_tab.setup();
</script>

<div id='exportcontent'>

</div>

