<input type="checkbox" id="purchase-{{purchase.pk}}" class="checkboxwlabel" {{purchase.valid|yesno:"checked='checked',"}} /> 

<label for="purchase-{{purchase.pk}}" class="{{purchase.valid|yesno:'valid,invalid'}}">
	<p>
		<span class="undopurcdesc">{{purchase.desc}} &aacute; {{purchase.price}} credit{%if purchase.price != 1 %}s{%endif%}</span>{%if purchase.valid != 1%}<img src="{{STATIC_URL}}cross.png" alt="{{STATIC_URL}}"/>{%elif purchase.admin != 0%}<img src="{{STATIC_URL}}exclaim.png" alt="purchase done by admin"/>{%elif purchase.activity.name != "Gewone Verkoop"%}<img src="{{STATIC_URL}}info.png" alt="purchace at {{purchase.activity}}"/>{%else%}<img src="{{STATIC_URL}}check.png" alt=""/>{%endif%}<span class="undopurcdate"> {{purchase.date}}</span> 
	</p>
</label>
