
<div id='total_select'>
    <button id='reload_totals'>Reload</button>

    <p> from: </p>
    <select id='total_from' size=6>
        {% for balance in balances reversed %}
          <option value="{{balance.pk}}">{{balance.date}}: {{balance.description}}</option>
        {% endfor %}
    </select>

    <div id='total_from_detail' class='hidden totaldetails'>

    </div>
    <hr/>
    <p> to: </p>
    <select id='total_to' size=6>
        {% for balance in balances reversed %}
          <option value="{{balance.pk}}">{{balance.date}}: {{balance.description}}</option>
        {% endfor %}
    </select>

    <div id='total_to_detail' class='hidden totaldetails'>

    </div>
    <hr/>

    <button id='compute_totals' class='hidden'>Compute</button>


    
</div>


<div id='total_summary' class='hidden'>
    <button id='total_clear'>Clear</button>
    <hr/>
    <p id='total_summary_list'></p>


</div>
