body{
	background: url("../static/skin_side_up.png") repeat #FFF;
	overflow-y: auto;
	font-family: "Verdana";
}
HR{
	margin: 10px 0px 10px 0px;
	width: 90%;
}

label.userbutton{
	text-align: left !important;
}

.content{
	width: 90%;
	margin: 10px auto 0;
}

#users{
	width:200px;
	height:100%;
	float:left;
}

#edituserbuttons{
	width:100%;
	height:35px;
	text-align: center;
}

.ui-tabs-nav{
	height:33px;
}

#tabs{
	height: 100%;
}

#tabs > div{
	position:absolute;
	top:37px;
	bottom:0px;
	left:0px;
	right:0px;

}

#userselect{
	width: 100%;
	height: 100%;
	overflow-y:scroll;
}
#userselect > button{
	width: 30%;
}

#userselect > label{
	padding: 2px;
	list-style: none;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

#userlist{
	padding: 0;
	margin: 0;
}

#useroptions{
	height:100%;
	float:left;
}

.ui-buttonset{
	margin:0;
	padding:0;
}
.ui-selected{
	background: #b20909;
	color: white;
}