
/*
whitebg{
	background-color: rgb(255,255,255);
}




#menu{
	margin-top: 10px;
	position:absolute;
	bottom:5px;
	margin: auto;
}

#usertabs-0{
	text-align:center;
}

#menu a{
	color: #fff;
}

body{
	text-align:center;
}
.container{
	position:relative;
	margin:0 auto;
	text-align:left;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
#maincontent{
	height:20%;
	overflow:hidden;
}
.contents{
	position:relative;
	top: 60px;
	bottom: 38px;
} 

#tabscontainer{
	height:500px;
}


#purchases{
	border-width: 1px;
	height: 218px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-tabs-nav{
	height:590px;
}
.doubleheightbutton{
	height:60px;
	margin-bottom: 10px;
}



P{
	margin-bottom:0;
}

.osk_bank, .osk_norm, .osk_mail, .input{
	width: 500px;	
}

.pininput{
	width: 100px !important;
	display:block;
	margin-left:auto!important;
	margin-right:auto!important;
	margin-top:10px!important;
}

.inline{
	display:inline;
}
.block{
	display:block;
}
#numLines{
	width: 100%;
	display: block;
	margin-bottom: 1em;
}

.center{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.margin{
	margin: 1em;
}

.textbox{
	height:30px;
	margin-bottom: 0;
}



#usertabs{
	border: 0 !important;
}


.ui-icon-large { 
	width: 30px; height: 30px; background-image: url(jquery/blitzer/images/ui-icons_004276_512x480.png); 
}
.ui-icon-plus-large { 
	background-position: -34px -259px; 
}

#tabscontainer *{
	text-align:center;
}

#tabscontainer * .ui-tabs-panel{
	width: 83%;
}

#tabscontainer * .ui-tabs-nav{
	width: 17%;
}

#tabscontainer * .selection{
	text-align:left;
}
*/

/* HIER ONDER IS NIEUW! */

/* global */
body{
	background: url("http://www.svcover.nl/themes/default/images/swoosh.png") no-repeat scroll center top #3B3B3B;
	color: white;
	overflow-y:auto;
}

.content{
	background-color: rgba(255, 255, 255, 0.2);
	
	position:relative;
	top:-10px;
	
	width:950px;
	margin:auto;
	padding:10px;
	border-radius: 5px 5px 5px 5px;
	overflow-y: hidden;
	
	
}


.selectable{
	font-size: 1.1em;
	width:100%;
}

/* top */
#topbar{
	width:100%;
	height:18px;
	position: absolute;
	top:20px;
}

#topbar > .content{
    
	font-family:"Verdana";
    font-weight: bold;
	font-size: 25px;
	text-align: center;
    text-shadow: 1px 1px 0 #000000;
	
    box-shadow: 0 2px 7px #333333;
    background-image: url("http://www.svcover.nl/themes/default/images/menubg.png");
    background-repeat: repeat-x;
    
    padding-top:0;
    padding-bottom:0;
}

/* main */
#mainbar{
	width:100%;
	position:absolute;
	
	top:68px;
	bottom:68px;
}

#mainbar > .content {
	height:100%;
}

 #usertabs{
	width: 470px;
	
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
}

#userinfo{
	width: 470px;

	position:absolute;
	top:10px;
	bottom:10px;
	right: 10px;

	overflow-y:hidden;
}

#userinfo > #userbuttons{
	height:350px;
	
	position:absolute;
	top:0px;
}

#userinfo > #purchases{
	position:absolute;
	top:350px;
	bottom:0px;

	overflow-y:auto;
}

#userinfo span{
	display:inline-block;
}

#userinfo span.purcdate{
	width: 200px;
}
#userinfo span.purcdesc{
	width: 210px;
}
#userinfo img.purcstatus{
	margin-bottom: -5px;
}

#userinfo span.moreinfo{
	width: 70px;
	padding-left: 20px;
}




/* bottom */
#bottombar{
	width:100%;
	height:18px;
	
	position:absolute;
	bottom:20px;
}

#bottombar > .content > P{
	margin-top:0;
	margin-bottom:0;
}






/* undo dialog settings */

#undoDialogPurchaseList{
	list-style:none;
	margin:0;
	padding:0;
}

#undoDialog{
	overflow-y:scroll;
}

#undoDialog .ui-state-default{
	background: none repeat scroll 0 0 #AAA;
	color: #666;
}

#undoDialog .ui-state-active{
	background: none repeat scroll 0 0 #EEE;
	color: #000;
}

#undoDialog label p{
	margin: 0;
}
#undoDialog label span.ui-button-text{
	width:510px;
	text-align: left;
}

#undodialog label span{
	display:inline-block;
	overflow-x: hidden;
}
#undodialog label span.undoundone{
	width: 70px;
}

#undodialog label span.undopurcdesc{
	width:240px;
}

#undodialog label span.undopurcdate{
	width:200px;
}

/* generic use */


.hidden{
	display:none;
}

.textcenter{
	text-align:center;
}

.normaltext {
	font-family:"Verdana";
	font-size:20px;
	margin-bottom:15px;
	height:20px;
}

HR{
	margin: 10px 0px 10px 0px;
}

button.productbutton{
	height: 60px;
	margin-bottom: 10px;

	font-family: "Verdana";
	font-size:15px;
}

button.userbutton{
	height: 50px;
	margin-bottom: 10px;

	font-family: "Verdana";
	font-size:13px;
}

tbody tr:nth-child(2n) td {
	background: none repeat scroll 0 0 rgba(255,255,255,0.1) !important;
	color: #ffffff !important;
}

/* Hacks to make the vertical tabs behave properly */
ul.ui-tabs-nav{
	width: 50px;

	position:absolute;
	top: 0px;
	bottom: 0px;

	overflow-x: hidden;
	overflow-y: auto;
}

div#usertabs{
	padding:0px;
}

div.ui-tabs-panel{
	position:absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 55px;

	overflow-y: scroll;
	overflow-x: hidden;
}


/* lelijke hacks! */

/* leeg :) */