 <h4>Purchases made during activity "<span class='actlabel'>{{activity.name}}</span>"</h4>

  {% for id,credit in credits.items %}
    <label>{{credit.desc}}:                                             </label> 
    <span class='smallcomp' id="act_{{id|lower}}count">  {{credit.number}}  </span>
    <span class="smallfield">+</span>
    <input class="valuefield smallfield" type="number" min='0' name="{{id|lower}}value"   id="act_{{id}}"    value="0" />  
    <img class='hidden changedalert' src='{{STATIC_URL}}/exclaim.png'/>
  {% endfor %}
  <hr/>
  {% for id,product in products.items %}
    <label>{{product.desc}}:             </label> 
    <span class='smallcomp' id="act_{{id|lower}}count">  {{product.number}}      </span>
    <span  class='smallfield'>+</span>
    <input class='valuefield smallfield' type="number" min='0' name="act_{{id|lower}}value"   id="act_{{id}}"    value="0" /> 
    <img class='hidden changedalert' src='{{STATIC_URL}}/exclaim.png'/> 
  {% endfor %}
