<p><span class="label">ID:              </span> <span id="pk" >{{user.pk}}</span></p>
<p><span class="label">Naam:            </span> <input type="text" name="name" id="name" value="{{user.name}}" />   </p>
<p><span class="label">Adres:           </span> <input type="text" name="address" id="address" value="{{user.address}}" /></p>
<p><span class="label">Woonplaats:      </span> <input type="text" name="city" id="city" value="{{user.city}}" /></p>
<p><span class="label">Bankrekening:    </span> <input type="text" name="bank_account" id="bank_account" value="{{user.bank_account}}" /></p>
<p><span class="label">E-mail:          </span> <input type="text" name="email" id="email" value="{{user.email}}" /></p>
<p><span class="label">Barcode:         </span> <input type="text" name="barcode" id="barcode" value="{{user.barcode}}" /></p>
<p><span class="label">Credit:          </span> <span id="credit"   >{{user.credit}}</span></p>

<p><span class="label">&nbsp;           </span> <button id="submitchanges">Save</button></p>

<hr />

<p><span class="label">Has Passcode:    </span> <span id="has_passcode" >{{user.has_passcode}}</span></p>
<p><span class="label">Passcode:        </span> <button id="resetpassword">Reset Passcode</button></p>
<p><span class="label">Active:          </span>
<span id="setactive">
	<input type="radio" id="activate" name="actbutton" {{user.active|yesno:'checked,'}} /><label for="activate">active</label></input>
	<input type="radio" id="deactivate" name="actbutton" {{user.active|yesno:',checked'}} /><label for="deactivate">inactive</label></input>
</span></p>

<hr />

<p>Amounts: </p>

<p><span class="label">CANDYBIG:   </span> <span id="candybigcount">  {{candybigcount}}      </span></p>
<p><span class="label">CANDYSMALL: </span> <span id="candysmallcount">{{candysmallcount}}    </span></p>
<p><span class="label">BEER:       </span> <span id="beercount">      {{beercount}}          </span></p>
<p><span class="label">CAN:        </span> <span id="cancount">       {{cancount}}           </span></p>
<p><span class="label">SOUP:       </span> <span id="soupcount">      {{soupcount}}          </span></p>
<p><span class="label">BREAD:      </span> <span id="breadcount">     {{breadcount}}         </span></p>
<p><span class="label">SAUSAGE:    </span> <span id="sausagecount">   {{sausagecount}}       </span></p>
<p><span class="label">BAPAO:      </span> <span id="bapaocount">     {{bapaocount}}         </span></p>



<script type='text/javascript'>
	$(function() {
		setup_admin_useroptions();
	});
</script>