<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml-strict.dtd">
<html>
<head>

<!-- Blueprint -->
<link rel='stylesheet' href='{{STATIC_URL}}blueprint/screen.css' type='text/css' media='screen, projection'>
<link rel='stylesheet' href='{{STATIC_URL}}blueprint/print.css' type='text/css' media='print'>

<!-- jQuery -->
<script type='text/javascript' src='{{STATIC_URL}}jquery/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}jquery/jquery-ui-1.8.17.custom.min.js'></script>
<!-- jQuery Theme -->
<link type='text/css' href='{{STATIC_URL}}jquery/blitzer/jquery-ui-1.8.17.custom.css' rel='stylesheet' />



<link rel='stylesheet' href='{{STATIC_URL}}admin.css' type='text/css' media='screen'>
<link rel='stylesheet' href='{{STATIC_URL}}content.css' type='text/css' media='screen'>


<!-- Core functions -->
<script type='text/javascript' src='{{STATIC_URL}}core/loadElement.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/interaction.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/init.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/reset.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/values.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/admin.js'></script>

<!-- crypto -->
<script type='text/javascript' src='{{STATIC_URL}}crypto/sha1.js'></script>

<!-- On-screen Keyboard -->
<link href='{{STATIC_URL}}keyboard/keyboard.css' rel='stylesheet'>
<script src='{{STATIC_URL}}keyboard/jquery.keyboard.js'></script>
<!-- End On-screen Keyboard -->

<!-- Idle timer -->
<script src='{{STATIC_URL}}idletimer/jquery.idle-timer.js'></script>
<!-- End Idle timer -->
<link rel='stylesheet' href='{{STATIC_URL}}jquery/selectable.css' type='text/css' media='screen,print,projection'>


<link rel='stylesheet' href='{{STATIC_URL}}undodialog.css' type='text/css' media='screen'>
<link rel='stylesheet' href='{{STATIC_URL}}userdialog.css' type='text/css' media='screen'>
<link rel='stylesheet' href='{{STATIC_URL}}buylinedialog.css' type='text/css' media='screen'>


</head>

<body>

	{%csrf_token%}

	<script type='text/javascript'>
		$(function() {
			setup_admin();
		});
	</script>


	<div id="topbar">
		<p class="content">Adminpanel A.M.A.Z.I.N.G.</p>
	</div>
	<div id="mainbar">
		<div class="content">
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">User Options</a></li>
					<li><a href="#tabs-2">Activities</a></li>
					<li><a href="#tabs-3">Inventory</a></li>
					<li><a href="#tabs-4">System Users</a></li>
				</ul>
				<div id="tabs-1">

					<div id="users">
						<div id="userselectcontainer">
							<button id="adduser">+</button>
							<input type="checkbox" id="filterinactive" checked="checked">
								<label for="filterinactive">Filter inactive</label>
							</input>
							<hr />
							<div id="userselect">

							</div>

						</div>
					</div>
					<div id="useroptions">
						<p>test</p>
					</div>

				</div>
				<div id="tabs-2">
					<p>Activities</p>	
				</div>
				<div id="tabs-3">
					<p>Inventory</p>
				</div>
				<div id="tabs-4">
					<p>System users</p>
				</div>
			</div>
		</div>

	</div>

</body>

</html>