<div id='newUser' title='Nieuwe gebruiker' class='hidden'>
	<span id='edit_pk' class='hidden'></span>
	<span class='span-5 normaltext'>Naam: </span>
	<input id='edit_name' class='osk_norm normaltext' type='text' name='name' />
	<span class='span-5 normaltext'>Adres: </span>
	<input id='edit_address' class='osk_norm normaltext' type='text' name='address' />
	<span class='span-5 normaltext'>Woonplaats: </span>
	<input id='edit_city' class='osk_norm normaltext' type='text' name='city' />
	<span class='span-5 normaltext'>Bankrekening: </span>
	<input id='edit_bank_account' class='osk_bank normaltext' type='text' name='bank_account' />
	<span class='span-5 normaltext'>E-Mail: </span>
	<input id='edit_email' class='osk_mail normaltext' type='text' name='email' />
	<span class='span-5 normaltext'>Barcode: </span>
	<input id='edit_barcode' class='input ui-corner-all normaltext' type='text' name='barcode' />
</div>

