<div id='undoDialog'>
	<span id='undo_userid' class='hidden'>{{user_id}}</span>
	<span id='undo_user' class='hidden'>{{user_name}}</span>
	<ul id='undoDialogPurchaseList'>
		{% for purchase in purchases %}
			
			<li id="purchaseli-{{purchase.pk}}"> 

			<input type="checkbox" id="purchase-{{purchase.pk}}" class="checkboxwlabel" {{purchase.valid|yesno:"checked='checked',"}} /> 
				<label for="purchase-{{purchase.pk}}">
					<span class="undopurcdesc">{{purchase.desc}} &aacute; <span id="price-{{purchase.pk}}">{{purchase.price}}</span> credit{%if purchase.price != 1 %}s{%endif%}</span><span class="undoundone">{%if purchase.valid != 1%}undone{%endif%}</span><span class="undopurcdate"> {{purchase.date}}</span> 
				</label>

</li>


		{% endfor %}
	</ul>
</div>	