<html>
<head>



<!-- Blueprint -->
<link rel='stylesheet' href='{{STATIC_URL}}blueprint/screen.css' type='text/css' media='screen, projection'>
<link rel='stylesheet' href='{{STATIC_URL}}blueprint/print.css' type='text/css' media='print'>
<!--[if lt IE 8]>
<link rel='stylesheet' href='{{STATIC_URL}}ie.css' type='text/css' media='screen, projection'>
<![endif]-->
<!-- End blueprint -->



<!-- Begin jQuery -->
<script type='text/javascript' src='{{STATIC_URL}}jquery/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}jquery/jquery-ui-1.8.17.custom.min.js'></script>
<!-- Theme -->
<link type='text/css' href='{{STATIC_URL}}jquery/blitzer/jquery-ui-1.8.17.custom.css' rel='stylesheet' />

<!-- Core functions -->
<script type='text/javascript' src='{{STATIC_URL}}core/interaction.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}core/init.js'></script>

<!-- On-screen Keyboard -->
<link href='{{STATIC_URL}}keyboard/keyboard.css' rel='stylesheet'>
<script src='{{STATIC_URL}}keyboard/jquery.keyboard.js'></script>
<!-- End On-screen Keyboard -->


<!-- Init the user selection screen --> 
<link rel='stylesheet' href='{{STATIC_URL}}jquery/verticaltabs.css' type='text/css' media='screen,print,projection'>


<script type='text/javascript'>
	$(function() {
		setup()
	});
</script>




<link rel='stylesheet' href='{{STATIC_URL}}jquery/selectable.css' type='text/css' media='screen,print,projection'>



<!-- End jQuery -->

<link rel='stylesheet' href='{{STATIC_URL}}pos.css' type='text/css' media='screen'>




</head>

<body>



<div id='noCredit' class='hidden' title='Je hebt niet voldoende kruisjes'>
	<p> Klik op de knop 'Lijntje Kopen' om hier wat aan te doen. </p>
</div>

<div id='loading' class='hidden' title='Loading'>
 <img class='center pad' src='{{STATIC_URL}}2.gif' />
</div>

<div class='margin hidden' id='dialog_buyline' title='Lijntje kopen'>
	<div id='numLines'></div> 
	<p class='normaltext'>Je wil <span id='txtNumLines'>1</span><span> Lijntje<span id='denom'></span> kopen, &aacute; &euro;</span><span id='price'>5</span></p>
	<p class='normaltext' id='baas'>&nbsp;</p>

</div>

<div id='newUser' title='Nieuwe gebruiker' class='hidden'>
	<span id='edit_pk' class='hidden'></span>

	<span class='span-5 normaltext'>Naam: </span>
	<input id='edit_name' class='osk_norm normaltext' type='text' name='name' />
	<span class='span-5 normaltext'>Adres: </span>
	<input id='edit_address' class='osk_norm normaltext' type='text' name='address' />
	<span class='span-5 normaltext'>Woonplaats: </span>
	<input id='edit_city' class='osk_norm normaltext' type='text' name='city' />
	<span class='span-5 normaltext'>Bankrekening: </span>
	<input id='edit_bank_account' class='osk_bank normaltext' type='text' name='bank_account' />
	<span class='span-5 normaltext'>E-Mail: </span>
	<input id='edit_email' class='osk_mail normaltext' type='text' name='email' />
	<span class='span-5 normaltext'>Barcode: </span>
	<input id='edit_barcode' class='input ui-corner-all normaltext' type='text' name='barcode' />
</div>

<div class='container'>
	<p id='titlebar' class='span-24'> A.M.A.Z.I.N.G.: Maar Anders. Zelfde Interface, Nieuwe Generator. </p>
	
	<div class='menu'> <a href='admin'>admin</a> <a href='etc'>etc</a></div>

	<div class="whitebg">
	<div id='tabscontainer' class='span-11 colborder '>

	</div>

	<div class='span-12 last'>

	<p class='buttontext textbox span-2'> User: </p><p id='username' class='buttontext textbox span-10 last'></p>
	<p class='buttontext textbox span-2'>Credit: </p><p id='credit' class='buttontext textbox span-10 last'></p>

	<button id='buyline' class=' buttontextsmall span-3'>Lijntje kopen</button>
	<button id='undo' class=' buttontextsmall span-3'>Ongedaan maken</button>
	<button id='edituser' class=' buttontextsmall span-3'>Wijzig gebruiker</button>
	<button id='add' class=' buttontextsmall span-3 last'>Nieuwe gebruiker</button>
	
	<hr />

	<button id='CANDYBIG' class=' buttontext productbutton  span-6'> Groot Snoep <br /> (&le; 2 stuks) </button>
	<button id='CANDYSMALL' class='buttontext productbutton span-6 last'> Klein Snoep <br /> (&gt; 2 stuks) </button>

	<button id='BEER' class='buttontext productbutton span-4'> Bier </button>
	<button id='CAN' class='buttontext productbutton span-4'> Blikje of <br />PET-flesje </button>
	<button id='SOUP' class='buttontext productbutton span-4 last'> Soep </button>

	<button id='BREAD' class='buttontext productbutton span-4'> Beleg </button>
	<button id='SAUSAGE' class='buttontext productbutton span-4'> Rookworst </button>
	<button id='BAPAO' class='buttontext productbutton span-4 last'> Bapao </button>

	<div id='purchases' class='span-12'>

	</div>

	</div>

	</div>


</div>
</body>

</html>