<html>
<head>
<title>
</title>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.17.custom.min.js"></script>

<link type="text/css" href="{{STATIC_URL}}jquery/blitzer/jquery-ui-1.8.17.custom.css" rel="stylesheet" />

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
		$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
	$('#tabs-1').tabs().tabs('select',1);
	});
</script>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}jquery/verticaltabs.css" type="text/css" media="screen,print,projection">
    <link rel="stylesheet" href="{{STATIC_URL}}blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC_URL}}blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="{{STATIC_URL}}pos.css" type="text/css" media="print">

    <!--[if lt IE 8]><link rel="stylesheet" href="{{STATIC_URL}}ie.css" type="text/css" media="screen, projection"><![endif]-->

</head>

<body>



<div class="container showgrid">
<div id="main" class="span-24">
<p id="titlebar" class="span-24"> A.M.A.Z.I.N.G.: Awesome Met Andere Zinnige Interface (Next Generation) </p>

<div class="menu"> <a href="admin">admin</a> <a href="etc">etc</a></div>

<div id="tabscontainer" class="span-15">
	<div id="tabs">
		<ul>
			{% for filter, list in lists %}
			<li><a href="#tabs-{{forloop.counter}}">{{filter}}</a></li>
			{% endfor %}
		</ul>

		{% for filter, list in lists %}
			<div id="tabs-{{forloop.counter}}">
			<h2>{{filter}}</h2>
			{% for item in list %}
				<p>{{item}}</p>
			{% endfor %}
			</div>
		{% endfor %}

	</div>
</div>

<button class="span-3"> lol </button>
<button class="span-3"> lol </button>
<button class="span-3 last"> lol </button>

<button class="span-3"> lol </button>
<button class="span-3"> lol </button>
<button class="span-3 last"> lol </button>


</div>
</div>


</body>
</html>