body{
	background: url("../static/skin_side_up.png") repeat #FFF;
	overflow-y: auto;
	font-family: "Verdana";
}

p{
	margin:0;
}

test{
	margin:0
}

input[type=text]{
	margin: 1px;
	width: 200px;
}
HR{
	width: 100%;

	margin-top: 10px;
	margin-bottom: 10px;
}
.hidden{
	display:none;
}
label.userbutton{
	text-align: left !important;
}
.content{
	width: 90%;
	margin: 10px auto 0;
}

#submitchanges, #resetpassword{
	width: 204px;
	margin: 0;
}

#users{
	width:200px;
	height:100%;
	float:left;
}

#edituserbuttons{
	width:100%;
	height:35px;
	text-align: center;
}

#useroptions{
	padding-left: 10px;
}
#useroptions label{
	width:150px;
	display:inline-block;
}

label[for="activate"], label[for="deactivate"]{
	width: 100px !important; 
}

#topbar{
	min-width: 1000px;
}
#mainbar{
	min-width: 1000px;
}

.ui-tabs-nav{
	height:33px;
}

#tabs{
	height: 100%;
}

#tabs > div{
	position:absolute;
	top:37px;
	bottom:0px;
	left:0px;
	right:0px;

}

#userselectcontainer{
	width: 100%;
	height: 100%;
	overflow-y:scroll;
}
#userselect > button{
	
}

#userselect > .userbutton{
	padding: 2px;
	list-style: none;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

#userlist{
	padding: 0;
	margin: 0;
}


#useroptions{
	height:100%;
	float:left;
}

.ui-buttonset{
	margin:0;
	padding:0;
}
.ui-selected{
	background: #b20909;
	color: white;
}

/* combobox */

  .ui-combobox {
    position: relative;
    display: inline-block;
  }
  .ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;

  }
  .ui-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
