body{
	background: url("../static/skin_side_up.png") repeat #FFF;
    height: 100%;
	font-family: "Verdana";
}

p{
	margin:0;
}

label{
    height: 29px;
}

.rightdetail input[type=text], .rightdetail input[type=number], .rightdetail input[type=password], .rightdetail select{
	margin: 1px;
	width: 200px;
    height: 18px;
}

input[disabled]{
    background-color: #ddd;
}


.rightdetail .smallfield{
    display:inline-block;
    width: 30px !important;
}

.rightdetail .smallcomp{
    display: inline-block;
    width: 120px !important;
}

thead th{
    background: none repeat scroll 0 0 #DDD;
}

tbody tr td{
    background: none repeat scroll 0 0 #FFF;
}

td{
    border-bottom: solid 1px #000;
}


.refreshbutton{
    background-image: url('../static/refresh.png') !important;
}

HR{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content{
    width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.hidden{
	display:none;
}
.userbutton{
	text-align: left !important;
}
.content{
	width: 100%;
	margin: 10px auto 0;
}

.halfwidebutton{
    width: 100px;
    margin: 0;
}

.widebutton{
	width: 204px;
	margin: 0;
}

.fullwidebutton{
    width: 100%;
}

.leftselect{
	width:200px;
	height:100%;
	float:left;
    overflow-y:scroll;
}

.rightdetail{
    width: 900px;
    float:right;
    height: 100%;
	padding-left: 10px;
}


.rightdetail label{
	width:150px;
	display:inline-block;
}

#activityselect p{
    padding: 3px;
    width: 90%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#activity_tab ul{
    margin-bottom: 0;
}

label[for="activate"], label[for="deactivate"]{
	width: 100px !important; 
}

#topbar{
    position: relative;
    top: 10px;
}

#mainbar{
    position: relative;
    top: 50px;
    bottom: 0;
    height: 800px;
}

.bordered{
    border: 1px solid #DDD;
}
.tabs > div{
    height: 740px;
    overflow-y: auto;

}
.leftpane{
    width: 380px;
    float: left;
    padding-right: 15px;
}

.rightpane{
    border-left:1px solid #DDD;
    width: 375px;
    float: left;
    padding-left: 15px;
}


.userbuttonstyle{
	padding: 2px;
	list-style: none;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

.rightselect{
	padding: 0;
	margin: 0;
}


.leftdetail{
    overflow-y:scroll;
    width: 940px;
	height:100%;
	float:left;
}

.ui-buttonset{
	margin:0;
	padding:0;
}
.ui-selected{
	background: #b20909;
	color: white;
}

.changedalert{
    margin-bottom: -4px;
}

.changedalert:after{
    content: 'Unsaved';
}