
/* top */
#topbar{
	width:100%;
	height:18px;
	position: absolute;
	top:20px;
}

#topbar > .content{
    
	font-family:"Verdana";
    font-weight: bold;
	font-size: 25px;
	text-align: center;
    text-shadow: 1px 1px 0 #000000;
	
    box-shadow: 0 2px 7px #333333;
    background-image: url("http://www.svcover.nl/themes/default/images/menubg.png");
    background-repeat: repeat-x;
    
    padding-top:0;
    padding-bottom:0;
}

/* main */


#usertabs-0{
	text-align:center;
}

#mainbar{
	width:100%;
	position:absolute;
	
	top:68px;
	bottom:68px;
}

#mainbar > .content {
	height:100%;
}

 #usertabs{
	width: 470px;
	
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
}

#userinfo{
	width: 470px;

	position:absolute;
	top:10px;
	bottom:10px;
	right: 10px;

	overflow-y:hidden;
}

#userinfo > #userbuttons{
	height:350px;
	
	position:absolute;
	top:0px;
}


#userinfo button.productbutton{
	height: 60px;
	margin-bottom: 10px;

	font-family: "Verdana";
	font-size:15px;
}

#userinfo button.userbutton{
	height: 50px;
	margin-bottom: 10px;

	font-family: "Verdana";
	font-size:13px;
}

#userinfo tbody tr:nth-child(2n) td {
	background: none repeat scroll 0 0 rgba(255,255,255,0.1) !important;
	color: #ffffff !important;
}

#userinfo > #purchases{
	position:absolute;
	top:350px;
	bottom:0px;

	overflow-y:auto;
}


#userinfo span{
	display:inline-block;
}

#userinfo span.purcdate{
	width: 200px;
}
#userinfo span.purcdesc{
	width: 224px;
}
#userinfo img.purcstatus{
	margin-bottom: -5px;
}

#userinfo span.moreinfo{
	width: 70px;
	padding-left: 20px;
}




/* bottom */
#bottombar{
	width:100%;
	height:18px;
	
	position:absolute;
	bottom:20px;
}

#bottombar > .content > P{
	margin-top:0;
	margin-bottom:0;
}
